.promotion-tag {
	color: #fff;
	font-size: $font-size-activity-tag;
	border-top-left-radius: 30rpx;
	border-bottom-left-radius: 30rpx;
	padding: 4rpx 10rpx;
	margin-right: 10rpx;
	vertical-align: middle;
}
